@using TwitterHelper.Entity
@model TwitterUserCursor
@{
    ViewBag.Title = "Not Following Back";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@if(Model!= null)
{
<div class="container-fluid">
    <div class="row">
    @if(Model.previous_cursor != 0)
    {
        @Html.ActionLink("<< Previous Page ","NotFollowingBack", "Home", new { cursor = Model.previous_cursor }, new { @class = "btn btn-default" });
    }
    @if(Model.next_cursor != 0)
    {
        @Html.ActionLink("Next page >>","NotFollowingBack", "Home", new { cursor = Model.next_cursor }, new { @class = "btn btn-default" });
    }
    </div>
</div>
    foreach (var item in Model.users)
    {
        @Html.Partial("TwitterUser", item)
    }
<div class="container-fluid">
    <div class="row">
    @if(Model.previous_cursor != 0)
    {
        @Html.ActionLink("<< Previous Page ","NotFollowingBack", "Home", new { cursor = Model.previous_cursor }, new { @class = "btn btn-default" });
    }
    @if(Model.next_cursor != 0)
    {
        @Html.ActionLink("Next page >>","NotFollowingBack", "Home", new { cursor = Model.next_cursor }, new { @class = "btn btn-default" });
    }
    </div>
</div>
}
else
{
<div class="container-fluid">
    <div class="row">
        <p class="bg-info">No Results ... </p>
    </div>
</div>
}